@import "tailwindcss";

@font-face {
  font-family: "buford";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/BurfordRusticInline-400_2.otf") format("opentype");
}

@font-face {
  font-family: "poppins";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "poppins";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
}

@theme {
  --color-black: #000;

  --font-buford: "buford";
  --font-poppins: "poppins";
  --breakpoint-mobile: 640px;
  --breakpoint-midpoint: 1000px;
  --breakpoint-tablet: 1240px;
}

html {
  position: relative;
}

h1 {
  @apply mobile:text-4xl mb-8 w-fit text-3xl font-bold;
}

h2 {
  @apply mobile:text-3xl text-2xl font-bold;
}

h3 {
  @apply mobile:text-2xl text-xl font-bold;
}

p:not([data-offer]) {
  @apply mobile:text-lg text-base;
}

section.master-section {
  @apply space-y-4;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  max-width: 100dvw;
}
